.gallery {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

/* .gallery-item {
  width: 10px;
} */

.gallery-img {
  width: 1000px;
}
